body {
    background-image: url('Images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    
    color: #333;
}

.contact-container {
    background: rgba(255, 255, 255, 0.9);
    max-width: 80vw;
    max-height: 100vh;
    margin: 100px auto;
    padding: 75px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.contact-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}
.contact-info {
    font-size: 18px;
    line-height: 2.0;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    margin-bottom: 50px;
}
.header-nav {
    background: #0cd879;
    padding: 15px 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-nav nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 500px;
    margin: auto;
}


.header-nav nav a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.header-nav nav a:hover {
    background: #b1e1ab;
    color: #000000;
}