body {
    margin: 0;
    padding: 0;
}


.header-nav {
    background: #0cd879;
    padding: 15px 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    top: 0;
}

.header-nav nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 500px;
    margin: auto;
}


.header-nav nav a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.header-nav nav a:hover {
    background: #b1e1ab;
    color: #000000;
}
