
.services-container {
    padding: 50px;
    text-align: center;
    line-height: 1.6;
    
}

.services-content  {
    font-size: 28px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-columns: auto auto auto;
    gap: 20px;
    font-size: 18px;
}

.grooming {
    margin-left: auto;
    margin-right: auto;
}