body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


.header-nav {
    background: #0cd879;
    padding: 15px 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    top: 0;
}

.header-nav nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 500px;
    margin: auto;
}


.header-nav nav a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.header-nav nav a:hover {
    background: #b1e1ab;
    color: #000000;
}

.footer-web {
    background: #4a4949;
    color: #fff;
    text-align: center;
    padding: 20px 40px;
    margin-top: 100px;
}

.hero {
    font-weight:600;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.welcome {
    font-size: 20px;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    margin-bottom: 50px;
    font-family: sans-serif;
    font-weight: 500;
}

.pet-images {       
    gap: 20px;
    margin-bottom: 50px;
    font-size: large;
    text-align: center;

}

.card-one {
    display: inline-block;
    width: 80vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    height:auto;
}

.card-one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.card-two {
    display: inline-block;
    width:80vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    height:auto;
}


.card-two img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.hero-container  {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.09);
    margin: 20px;
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    max-width: 80vh;
    content: center;     
}